/* Created by TopStyle Trial - www.topstyle4.com */

body{
background-color: #f0e68c;	
}
.tab td,th{
background-color: white;
padding: 3px;
}
.tab{
	border-collapse: collapse;
}
.erreur{
	color: #ff6347;
}
.succes{
	color: #006400;
}

 /*Application réalisée du 8 au 17 Juin 2020 à N'djaména au Tchad par
        TARGOTO CHRISTIAN
        Contact : 23560316682 / ct@chrislink.net
 */    